@import url(http://fonts.googleapis.com/css?family=Lily+Script+One|Fauna+One|Roboto+Slab:700,400);
@import url(http://fonts.googleapis.com/css?family=Merriweather|PT+Serif|Bitter|Droid+Serif|Tienne|Noticia+Text);

/****************************************
* Pick a font you like 					*
* Delete the ones you don't need		*
*****************************************
*
* font-family: 'Fauna one', serif;
* font-family: 'Roboto Slab', serif;
* font-family: 'Merriweather', serif;
* font-family: 'PT Serif', serif;
* font-family: 'Bitter', serif;
* font-family: 'Droid Serif', serif;
* font-family: 'Tienne', serif;
* font-family: 'Noticia Text', serif;
*
***************************************/


/********** General Styles **********/

body{ background: #e6e6e6 url("../img/Paper.svg") repeat; font-family: 'Fauna one', serif; font-size: 11pt; }
h1,h2,h3,h4,h5,h6,p,section,article{ font-family: 'Fauna one', serif; }

.photo-credits{ display: none; }


/*********** Welcome Section **********/
section#welcome{ width: 100%; padding-top: 150px; padding-bottom: 200px; float: left; background: url("../img/2.jpg") no-repeat; background-size: 100%;
	font-family: 'Fauna one', serif; text-align: center; color: #252525; position: relative; z-index: 8; border-bottom: 0px solid #e74c3c;

	/* Elements */
	h1{ font-family: 'Lily Script One', serif; font-size: 4em; text-align: center; color: #252525; padding: 15px; text-shadow: 3px 5px 0px #ccc; }

	/* Classes */
	.curve-up, .curve-down{ font-family: 'Fauna one', serif; text-align: center; font-size: 1.5em; color: #252525; letter-spacing: 2px; text-transform: uppercase; }
	.desc{ padding-top: 40px; font-family: 'Fauna one', serif; width: 80%; margin: 0 auto; font-size: 1.1em; }
}

/********** About Section **********/
section#about{ width: 100%; float: left; position: relative; z-index: 9; margin-top: -80px;
	
	/* Elements */
	h3{ text-transform: uppercase; font-size: 1.5em; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; }
	p{ font-size: 0.9em; text-align: justify; }

	/* Classes */
	.row{ background: #fff; border-radius: 4px; padding-top: 50px; padding-bottom: 20px; }
	.about-desc{ margin-left: 20px; margin-right: 20px; }

	/* Ids */
	#guest-comments{
		/* Elements */
		h3{ text-align: right; }

		/* Classes */
		.a-comment{ margin-left: 20px; margin-right: 20px; margin-bottom: 20px; border-bottom: 1px dashed #ccc; font-style: italic;

			&:last-child{ border-bottom: none; }
			.comment-message{ font-size: 0.8em; }
			.commenter-name{ text-align: right; font-size: 0.8em; margin-top: -13px; }
		}
	}

	#creed{ float: left; width: 100%; padding-top: 20px; padding-bottom: 20px; margin-top: 40px; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc;
		/* Elements */
		p{ font-size: 1.5em; font-style: italic; text-align: center; padding-left: 20px; padding-right: 20px; }
	}

	#social{ width: 100%; padding-top: 15px; padding-bottom: 15px; margin-left: 0; margin-top: 20px; text-align: center; float: left; color: #252525; font-size: 2em;
		/* Elements */
		a{ color: #252525; }
	}
}

/********** Gallery Section **********/
section#gallery{ width: 100%; padding-top: 140px; padding-bottom: 100px; float: left; background: url("../img/2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; margin-top: -100px; position: relative; z-index: 5;

	/* Elements */
	h3{ color: #252525; text-align: center; font-size: 2em; text-align: center;  padding: 15px; margin-bottom: 40px; }

	/* Classes */
	.gallery-image{ background: #fff; border-radius: 2px; padding: 10px;
		/* Classes */
		.desc{ font-size: 0.78em; }
	}
	.primary-gallery{ float: left; }
	.secondary-gallery{ float: left; margin-top: 40px; 
		/* Classes */
		.desc{ min-height: 120px; }

		/* Elements */
		figure{ max-height: 200px; overflow: hidden; margin-bottom: 15px;
			img{ margin-top: -50px; }
		}
	}
}

/********** Contact Section **********/
section#contact{ width: 100%; position: relative; z-index: 20; margin-top: -50px; float: left;
	
	/* Classes */
	.row{ background: #fff; border-radius: 2px; padding-top: 20px; min-height: 500px; }
	.directions{ margin-top: 15px; 
		p{ font-size: 0.9em; }		
	}

	/* Elements */
	h3{ font-size: 1.5em; margin-bottom: 20px; }
	h4{ font-size: 1.2em; }
	address{ font-size: 0.9em; border-bottom: 1px dashed #252525; }
	iframe{ width: 100%; height: 480; }		
}

footer{ width: 100%; float: left; margin-top: 40px;

	/* Elements */
	p{ font-size: 0.8em; }
}

/********************************
*	Media Queries				*
********************************/

@media only screen and (min-width : 768px) and (max-width : 959px){
	/* Welcome Section */
	section#welcome{ padding-top: 75px; padding-bottom: 120px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
		.desc{ font-size: 1em; text-align: center; color: #fff; }
	}
	/* About Section */
	section#about{
		h3{ font-size: 1.3em; }
		#creed{ p{ font-size: 1.3em; } }
		#social{ font-size: 1.8em; }
	}
	/* Gallery Section */
	section#gallery{ 
		h3{ font-size: 1.8em; } 
	}
	/* Contact Section */
	section#contact{ 
		.directions{ p{ font-size: 0.8em; } }
		h3{ font-size: 1.3em; }
		h4{ font-size: 1em; }
		address{ p{ font-size: 11px;} }	
	}
}

@media only screen and (min-width : 480px) and (max-width : 767px){

	body{ font-size: 10pt; }

	/* Welcome Section */
	section#welcome{ padding-top: 75px; padding-bottom: 120px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
		.desc{ font-size: 1em; text-align: center; color: #fff; }
	}

	/* About Section */
	section#about{
		h3{ font-size: 1.3em; text-align: left; }
		#creed{ margin-top: 0; p{ font-size: 1.3em; } }
		#social{ font-size: 1.8em; width: 100%; text-align: center; }
		#guest-comments{ margin-top:  30px; h3{ text-align: left; } .commenter-name{ font-size: 0.8em; margin-top: 0 !important; } }
	}

	/* Gallery Section */
	section#gallery{
		h3{ font-size: 1.5em; }
		.gallery-image{ margin-bottom:  20px;
			img{ width: 100%; }
			figure{ max-height: 300px !important; }
		}
	}

	/* Contact Section */
	section#contact{ 
		.directions{ float: left; padding-bottom:  20px; p{ font-size: 0.8em; } }
		h3{ font-size: 1.5em; margin-top:  30px;}
		h4{ font-size: 1em; }
		address{ p{ font-size: 11px;} }	
	}
	
}
@media only screen and (min-width : 320px) and (max-width : 479px){
	body{ font-size: 9pt; }

	/* Welcome Section */
	section#welcome{ padding-top: 75px; padding-bottom: 120px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
		.desc{ font-size: 1em; text-align: center; color: #fff; }
	}

	/* About Section */
	section#about{
		h3{ font-size: 1.3em; text-align: left; }
		#creed{ margin-top: 0; p{ font-size: 1.3em; } }
		#social{ font-size: 1.8em; width: 100%; text-align: center; }
		#guest-comments{ margin-top:  30px; h3{ text-align: left; } .commenter-name{ font-size: 0.8em; margin-top: 0 !important; } }
	}

	/* Gallery Section */
	section#gallery{
		h3{ font-size: 1.5em; }
		.gallery-image{ margin-bottom:  20px;
			img{ width: 100%; }
			figure{ max-height: 300px !important; }
		}
	}

	/* Contact Section */
	section#contact{ 
		.directions{ float: left; padding-bottom:  20px; p{ font-size: 0.8em; } }
		h3{ font-size: 1.5em; margin-top:  30px;}
		h4{ font-size: 1em; }
		address{ p{ font-size: 11px;} }	
	}
}